<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Speech Emotion detection</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="../static/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                     <li><a href="{{url_for('first')}}">Home</a></li>
                                    <li><a href="{{url_for('login')}}">Login</a></li>  
                                    <li><a href="{{url_for('index')}}">Preview</a></li>
								  <li><a href="{{url_for('performance')}}">Performance_Analysis</a></li>
  <li><a href="{{url_for('chart')}}">Chart</a></li>  								  
                                </ul>

                                <!-- Login/Register & Cart Button -->
                              
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../static/img/speech5.png);">
        <div class="bradcumbContent">
            <p>Speech</p>
            <h2>Emotion Recognition</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
           
  <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Performance Analysis</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">Speech Emotion Recognition</p>
          </div>
        </div>
        <div class="row">
          

          <body>
            <div><span style="margin-left:300px;color:green"><font size="12">RECALL,F1 AND PRECISION </font></div>
            </br>
            </br>
            <div><span style="margin-left:450px;color:black"><font size="12">   Precision recall F1 </font></div> 
            </br></br>
           <div><span style="margin-left:300px;color:black"><font size="12"> Angry </font>
           <span style="margin-left:120px;color:black"><font size="12">1.00  0.98  0.99   </font>
           </div> 
           </br>
           </br>
           <div><span style="margin-left:300px;color:black"><font size="12">Disgust</font>
           <span style="margin-left:100px;color:black"><font size="12">1.00  1.00   1.00    </font>
           </div>
            </br>
           </br>
           <div><span style="margin-left:300px;color:black"><font size="12">Fear</font>
           <span style="margin-left:155px;color:black"><font size="12">1.00  1.00   1.00    </font>
           </div>
		    </br>
           </br>
           <div><span style="margin-left:300px;color:black"><font size="12">Happy</font>
           <span style="margin-left:120px;color:black"><font size="12">0.97  1.00   0.99   </font>
           </div>
		    </br>
           </br>
           <div><span style="margin-left:300px;color:black"><font size="12">Neutral</font>
           <span style="margin-left:110px;color:black"><font size="12">1.00  1.00   1.00    </font>
           </div>
		    </br>
           </br>
           <div><span style="margin-left:300px;color:black"><font size="12">Surprise</font>
           <span style="margin-left:90px;color:black"><font size="12">1.00  1.00   1.00    </font>
           </div>
		    </br>
           </br>
           <div><span style="margin-left:300px;color:black"><font size="12">Sad</font>
           <span style="margin-left:170px;color:black"><font size="12">1.00  1.00   1.00    </font>
           </div>
            
           </div>  
            </br>
           </br>
           </br>
           
           
           <div class="col-lg-8 mx-auto">
                     <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                       
                                  
                                 <div><span style="margin-left:170px;color:red"><font size="12">Confusion Matrix</font></div>
                       </br>
                       </br>
                       
                   <center>	    <div><img style="margin-left:60px;width:800px;height:500px;" src="../static/download.png"</div></center>
                                          
                                    
                              
                   </div>
           
           
            
           </body>


          
        </div>

		   
		   
		   
		   
        </div>
    </section>
    <!-- ##### Login Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
     <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                

                <div class="col-12 col-md-6">
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/js/active.js"></script>
</body>

</html>